# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
.venv/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Data / models
*.pkl
scaler.pkl
model.pkl
diabetes.csv
static/*.png

# Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
